/*szerokosc hedaera, co wplywa na fote*/
@media screen and (min-width: 992px) {
    #head {
        height: 90vh;
    }
    
    #main-name h1{
        font-size: 48px;
    }
    
    #main-name h2{
        font-size: 36px;
    }
}


@media screen and (max-width: 992px) and (min-width: 768px){
    #head {
        height: 90vh;
    }
    
    #main-name h1{
        font-size: 42px;
    }
    
    #main-name h2{
        font-size: 32px;
    }
}

@media screen and (max-width: 768px) and (min-width: 480px){
    #head {
        height: 85vh;
        background-position: bottom;
    }
    
    #main-name h1{
        font-size: 36px;
    }
    
    #main-name h2{
        font-size: 28px;
    }
    
    #menu ul li{
        margin: 0 10px;
    }
}

@media screen and (max-width: 480px) {
    #head {
        height: 85vh;
        background-position: bottom;
    }
    
    #main-name h1{
        font-size: 32px;
    }
    
    #main-name h2{
        font-size: 24px;
    }
    
    #menu .displayed{
        display: none;
    }
    
    #menu .displayed li{
        margin: 0 5px;
    }
    
    .dropdown {
        display: inline-block;
        padding: 10px;
        
    }
    
    .dropdown img{
        height: 30px;
    }
    
    
    
}

