/*szerokosc hedaera, co wplywa na fote*/

@media screen and (min-width: 992px) {
    #head {
        height: 90vh;
    }
    #main-name h1 {
        font-size: 48px;
    }
    #main-name h2 {
        font-size: 36px;
    }
}

@media screen and (max-width: 992px) and (min-width: 768px) {
    #head {
        height: 90vh;
    }
    #main-name h1 {
        font-size: 42px;
    }
    #main-name h2 {
        font-size: 32px;
    }
    #bio-content #portrait img {
        width: 65%;
    }
}

@media screen and (max-width: 768px) and (min-width: 480px) {
    #head {
        height: 85vh;
        background-position: bottom;
    }
    #main-name h1 {
        font-size: 36px;
    }
    #main-name h2 {
        font-size: 28px;
    }
    #menu ul li {
        margin: 0 10px;
    }
    #bio-content #portrait img {
        width: 75%;
    }
    /*    portfolio*/
    .port-cont {
        height: 400px;
        width: 50%;
    }
    #port-sec .port-cont:last-child {
        width: 100%;
        height: 300px;
    }
}

@media (orientation:portrait) {
    /*@media screen and (max-width: 480px) {*/
    #head {
        height: 85vh;
        background-position: bottom;
    }
    #main-name h1 {
        font-size: 32px;
    }
    #main-name h2 {
        font-size: 24px;
    }
    /*    zmiana wyswietlania menu*/
    #menu .displayed {
        display: none;
    }
    .dropdown {
        display: block;
        padding: 10px;
    }
    /*    zeby zdjecie było nad opisem*/
    #bio-content #portrait {
        width: 100%;
    }
    #bio-content #descr {
        width: 100%;
        padding: 0 10%;
    }
    #bio-content #portrait img {
        width: 85%;
    }
    /*    portfolio*/
    .port-cont {
        height: 400px;
        width: 100%;
    }
    /*    footer */
    #foot #contact {
        width: 100%;
    }
    #foot #form {
        width: 100%;
        clear: both;
        padding: 10px;
    }
}

@media screen and (max-width: 480px) {
    /**/
    #head {
        height: 85vh;
        background-position: bottom;
    }
    #main-name h1 {
        font-size: 32px;
    }
    #main-name h2 {
        font-size: 24px;
    }
    /*    zmiana wyswietlania menu*/
    #menu .displayed {
        display: none;
    }
    .dropdown {
        display: block;
        padding: 10px;
    }
    /*    zeby zdjecie było nad opisem*/
    #bio-content #portrait {
        width: 100%;
    }
    #bio-content #descr {
        width: 100%;
        padding: 0 10%;
    }
    #bio-content #portrait img {
        width: 85%;
    }
    /*    portfolio*/
    .port-cont {
        width: 100%;
        height: 400px;
    }
    /*
    #port-sec .port-cont:last-child {
        width: 100%;
        height: 300px;
    }
*/
    /*    footer */
    #foot #contact {
        width: 100%;
    }
    #foot #form {
        width: 100%;
        clear: both;
        padding: 10px;
    }
}
