/*szerokosc hedaera, co wplywa na fote*/

@media screen and (min-width: 992px) {
    #head {
        height: 90vh;
    }
    #main-name h1 {
        font-size: 48px;
    }
    #main-name h2 {
        font-size: 36px;
    }
}

@media screen and (max-width: 992px) and (min-width: 768px) {
    #head {
        height: 90vh;
    }
    #main-name h1 {
        font-size: 42px;
    }
    #main-name h2 {
        font-size: 32px;
    }
    #bio-content #portrait img {
        width: 65%;
    }
    .rozsuwane {
        width: 50%;
        /*    transition: all 1s;*/
    }
}

@media screen and (max-width: 768px) and (min-width: 480px) {
    #head {
        height: 85vh;
        background-position: bottom;
    }
    #main-name h1 {
        font-size: 36px;
    }
    #main-name h2 {
        font-size: 28px;
    }
    #menu ul li {
        margin: 0 10px;
    }
    #bio-content #portrait img {
        width: 75%;
    }
    /*    umiejetnosci*/
    #skills-content {
        padding: 20px 40px;
    }
    /*    portfolio*/
    .port-cont {
        height: 400px;
        width: 50%;
    }
    #port-sec .port-cont:last-child {
        width: 100%;
        height: 300px;
    }
    #rozsuwane1,
    #rozsuwane2,
    #rozsuwane3,
    #rozsuwane4 {
        width: 50%;
        /*    transition: all 1s;*/
    }
}


/*NA TELEFONY KOMÓRKOWE*/

@media (orientation:portrait) {
    /*@media screen and (max-width: 480px) {*/
    #head {
        height: 85vh;
        background-position: bottom;
    }
    #main-name h1 {
        font-size: 32px;
    }
    #main-name h2 {
        font-size: 24px;
    }
    /*    zmiana wyswietlania menu*/
    #menu .displayed {
        display: none;
    }
    .dropdown {
        display: block;
        padding: 10px;
    }
    /*    zeby zdjecie było nad opisem*/
    #bio-content #portrait {
        width: 100%;
    }
    #bio-content #descr {
        width: 100%;
        padding: 0 10%;
    }
    #bio-content #portrait img {
        width: 85%;
    }
    /*    umiejetnosci*/
    #skills-content {
        padding: 20px 20px;
    }
    /*    portfolio*/
    .port-cont {
        width: 100%;
        height: 400px;
    }
    .port-cont {
        height: 400px;
        width: 100%;
    }
    #rozsuwane1,
    #rozsuwane2,
    #rozsuwane3,
    #rozsuwane4{
        width: 50%;
        /*    transition: all 1s;*/
    }
    #flip_1,
    #flip_2 {
        width: 100%;
    }
    /*    footer */
    #foot .sec-head {
        margin: 20px;
    }
    #foot #contact {
        width: 100%;
        padding: 0 0 0 20px;
    }
    #foot #form {
        width: 100%;
        clear: both;
        padding: 10px;
    }
    #contact-content,
    #phone-mail {
        margin-bottom: 20px;
    }
    /*    nowy sposob z labelka i checkboxem*/
    /*    pokazujemy tylko label, checkbox jest 'w tle'*/
    #menu .toggle {
        display: block;
        background-color: #f9fcfe;
        padding: 0 20px;
        color: #1AC056;
        line-height: 50px;
        /*centruje napis pionowe wzgledem wysokosci NAV */
        text-align: right;
    }
    #name ul {
        display: none;
    }
    /*    jezeli checkboxe jest checke to złap ul (bliski sonsiad i jąpokaz)*/
    /*    samo display blok załatwi nam brak kropeczek*/
    #menu #drop:checked+ul {
        display: block;
        margin: 0;
    }
    #menu ul {
        background-color: #f9fcfe;
    }
    /*    to jest nasze li oklasowane, wyswietlamy li jako bloki */
    #menu ul .menu-item {
        display: block;
        margin: 0px 15px 15px 0px;
    }
}

@media screen and (max-width: 480px) {
    /**/
    #head {
        height: 85vh;
        background-position: bottom;
    }
    #main-name h1 {
        font-size: 32px;
    }
    #main-name h2 {
        font-size: 24px;
    }
    /*    zmiana wyswietlania menu*/
    #menu .displayed {
        display: none;
    }
    .dropdown {
        display: block;
        padding: 10px;
    }
    /*    zeby zdjecie było nad opisem*/
    #bio-content #portrait {
        width: 100%;
    }
    #bio-content #descr {
        width: 100%;
        padding: 0 10%;
    }
    #bio-content #portrait img {
        width: 85%;
    }
    /*    umiejetnosci*/
    #skills-content {
        padding: 20px 40px;
    }
    /*    portfolio*/
    .port-cont {
        width: 100%;
        height: 300px;
    }
    
    #rozsuwane1,
    #rozsuwane2,
    #rozsuwane3,
    #rozsuwane4 {
        width: 50%;
        /*    transition: all 1s;*/
    }
    #flip_1,
    #flip_2 {
        width: 100%;
    }
    /*    footer */
    #foot .sec-head {
        margin: 20px;
    }
    #foot #contact {
        width: 100%;
        padding: 0 0 0 20px;
    }
    #foot #form {
        width: 100%;
        clear: both;
        padding: 10px;
    }
    #contact-content,
    #phone-mail {
        margin-bottom: 20px;
    }
}
